//
//  debug.xcconfig
//  MyProject
//
//  Created by 刘威振 on 2020/4/29.
//  Copyright © 2020 刘威振. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// APP 请求地址
// http:\/\/test2api.xiaowei.com/rq
// xcconfig认为//是注释符，因此需要转义
// 但是这样通过[[NSBundle mainBundle].infoDictionary objectForKey:@"BasicURL"]得到的结果是未转义的字符串：http:\/\/test2api.xiaowei.com/rq
// NSLog得到的字符串也是BasicURL
// 因此建议不要写//
BASE_URL = @"test2api.debug.com/rq"   // BASE_URL
SDK_KEY = @"DEBUG_SDK_KEY"              // SDK_KEY
IS_PRODUCATION = @"NO"                  // 是否试生产环境

#include "common.xcconfig"
