//
//  release.xcconfig
//  MyProject
//
//  Created by 刘威振 on 2020/4/29.
//  Copyright © 2020 刘威振. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = @"api.release.com/rq" // BASE_URL
SDK_KEY = @"RELEASE_SDK_KEY"     // SDK_KEY
IS_PRODUCATION = @"YES"          // 是否试生产环境

#include "common.xcconfig"
